extends template

block content
	#usercard
		br
		img.center(src="http://www.pgconnects.com/helsinki/wp-content/uploads/sites/3/2015/07/generic-profile-grey-380x380.jpg")
		h1  Name: #{user.name} - Age: #{user.age} - Gender: #{user.gender}
		h3 Address: #{user.address}
		h4 Interests: #{user.interests}
		h4 Past Check-ins: 
			ul
				each val in user.check_ins
					li= val.place_name
		h8 Friends: #{user.friends}
		button#submit(type='button' onclick='addFriend()') Add Friends
