extends template

block content
	#usercard
		br
		img.center(src="http://www.pgconnects.com/helsinki/wp-content/uploads/sites/3/2015/07/generic-profile-grey-380x380.jpg")
		h1 #{name}
		h1 #{email}
		h1 #{address}
		h1 #{age}
		h1 #{gender}
		script.
			fetch('/profile', {
			headers: {
			'Content-Type': 'application/json',
			'x-access-token': localStorage.token
			},
			method: 'GET',
			body: JSON.stringify(data)
			}).then(function(res) {
			console.log(res)
			if (!res.ok) {
				res.text().then(function(message) {
				alert(message)
				})
				}
			res.json().then(function(data) {
			localStorage.token = data.token
			res.render('profile', {
			name: data.name,
			email: data.email,
			address: data.address,
			age: data.age,
			gender: data.gender
			})
			window.location = '/map'
			})
			}).catch(function(err) {
			    console.error(err)
			  })
		br
